*.o
*~
*.tar.gz
libgame.a
*.zip

Makefile.in
Makefile

libgame/.deps
.cproject
.project
.settings/
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure

po/POTFILES
po/remove-potcdate.sed
po/de.gmo
po/stamp-po
po/ltris2.pot

src/.deps/
src/ltris2
src/ltris2.conf
src/ltris2.hscr
src/themes/Standard/blocks.xcf
src/themes/Standard/logo.png
