*.o
*~
*.tar.gz

Makefile.in
Makefile

.cproject
.project
.settings/
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure
po/POTFILES
po/remove-potcdate.sed
src/.deps/
src/ltris2
src/ltris2.conf
