*.o
*~
*.tar.gz
libgame.a

Makefile.in
Makefile

src/themes/Standard/blocks.xcf
libgame/.deps
.cproject
.project
.settings/
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure
po/POTFILES
po/remove-potcdate.sed
src/.deps/
src/ltris2
src/ltris2.conf
